.input-panel {
  background-color: white;
}

.input-panel__body {
  border-top: 1px solid #eee;
  padding: 10px;
}

.input-panel__body__waiting {
  opacity: .5;
}

.input-row {
  display: flex;
}

.input-row input, .input-row textarea, .input-row__boolean {
  width: 100%;
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 5px;
  outline: none;
}

.input-row input:hover, .input-row textarea:hover, .input-row__boolean:hover {
  border: 1px solid lightgrey;
}

.input-row__boolean {
  display: flex;
}

.input-row__boolean input {
  margin: auto 10px;
}

::placeholder, .input-row__boolean span  {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  opacity: .4;
}

.input-panel__form__submit-wrapper {
  text-align: right;
}

.input-panel__form__submit {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  color: var(--app-color-main);
  text-decoration: underline;
  font-size: 1.1rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  opacity: .8;
}

.input-panel__form__submit:hover {
  cursor: pointer;
  opacity: 1;
}
