.input-panel {
  background-color: var(--color-purple-2);
}

.expandable-panel.input-panel:after {
  background-color: var(--color-purple-2);
}

.input-panel__body {
  border-top: 1px solid #eee;
  padding: 10px;
}

.input-panel__body__waiting {
  opacity: .5;
}

.input-row {
  display: flex;
  font-size: 1rem;
  background-color: var(--color-purple-1);
}

.input-row:not(:last-child) {
  border-bottom: 1px solid var(--color-purple-2);
}

.input-row input {
  background-color: unset;
  color: white;
}

.input-row input:focus,
.input-row textarea:focus {
  outline: solid var(--color-highlight);
}

.input-row ::placeholder {
  color: white;
}

.input-row input,
.input-row textarea,
.input-row__boolean {
  border: unset;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
}

.input-row input[type=text],
.input-row input[type=number],
.input-row textarea {
  flex: 2;
  background-color: unset;
  color: white;
}

.input-row__boolean {
  display: flex;
  margin: 0;
}

.input-panel__form__submit-wrapper {
  text-align: right;
  margin-top: 30px;
}

.input-row__label {
  color: white;
  width: 8rem;
  padding: 5px 10px;
  border-right: 1px solid var(--color-purple-2);
}
