.model-panel {
  background-color: var(--color-purple-1);
}

.expandable-panel.model-panel:before {
  content: unset;
}

.expandable-panel.model-panel:after {
  background-color: var(--color-purple-1);
}

.model-row, 
.model-panel__form {
  position: relative;
  display: flex;
  color: #bbb;
  font-size: 1.1rem;
  font-weight: 300;
  overflow: hidden;
  border-bottom: 1px solid var(--color-purple-1);
  background-color: var(--color-dark-purple);
  transition: all .2s ease;
}

.model-panel__form input {
  background-color: transparent;
}

.model-row__type,
.model-panel__form .dropdown {
  font-style: italic;
  flex: 1;
  border-left: 1px solid var(--color-purple-1);
}

.model-row--header {
  font-size: 1.2rem;
  color: var(--color-purple-3);
  background-color: var(--color-dark-purple);
}

.model-row__name {
  flex: 2;
}

.model-row__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
}

.model-row__icon:hover svg {
  fill: var(--color-error);
}

.model-panel__form__type {
  padding: 10px;
}

.model-panel__form {
  background-color: var(--color-purple-2);
  border-bottom: none;
}

.model-panel__form input:focus,
.model-panel__form select:focus {
  outline: solid var(--color-highlight);
}

/* .model-panel__form:focus-within .submit-button {
  color: var(--color-highlight);
  transform: scale(1.4);
} */

.model-panel__form__name {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  /* padding-left: 18px; */
  border: none;
  /* flex: 2; */
  outline: none;
}

.model-panel__form .dropdown {
  background-color: transparent;
  color: white;
  padding: 4px 8px;
}

.model-panel__form ::placeholder {
  color: white;
}

.model-panel__button-wrapper {
  text-align: right;
  margin-top: 30px;
}

.model-panel__button {
  color: var(--app-color-main);
  text-decoration: underline;
  font-size: 1.1rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  opacity: .8;
}

.model-panel__button:hover {
  cursor: pointer;
  opacity: 1;
}

.submit-button {
  color: white;
  font-size: 2rem;
  padding: 0 12px;
  border: unset;
  transition: 0.2s all ease;
}

.submit-button:focus {
  outline-offset: -3px;
}

.submit-button:hover {
  cursor: pointer;
}

.model__row__left {
  flex: 3;
  padding: 5px 10px;
}

.model__row__right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.model-row__value {
  margin: 4px 8px;
}
