.theme-panel {
  width: 100%;
  padding: 3px;
}

.theme-panel p {
  opacity: .3;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.theme-panel__block {
  display: inline-block;
  background-color: white;
  opacity: .3;
  color: black;
  margin: 5px;
  margin-left: 0;
  padding: 3px 5px;
}

.theme-panel__block:hover {
  cursor: pointer;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
